/*iPad*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	

}

/*iPad in landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
	.comment > p 
	{
    	font-size: 80%;
	}
	.gal_arrow
	{
		width: 8%;
	}
	.gal_arrow + .title
	{
		font-size: 200%;
	}

}

/*iPad in portrait*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
	.comment > p 
	{
    	font-size: 80%;
	}
	.gal_arrow
	{
		width: 8%;
	}
	.gal_arrow + .title
	{
		font-size: 200%;
	}

}


/*Galaxy Note, Galaxy S5 in landscape*/
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) and (orientation : landscape) { 
	.comment > p 
	{
    	font-size: 80%;
	}
	textarea.description
	{
		font-size: 200%;
	}
	.gal_arrow
	{
		width: 10%;
	}
	span.comment_date
	{
		font-size:170%;
	}

		
}

/*Galaxy Note, Galaxy S5 in portrait*/
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) and (orientation : portrait){
	.comment > p 
	{
    	font-size: 80%;
	}

	textarea.description
	{
		font-size: 200%;
	}
	span.comment_date
	{
		font-size:170%;
	}
	.gal_arrow
	{
		width: 10%;
	}
	.gal_arrow + .title
	{
		width: 60%;
		font-size: 150%;
	}
	div.dish_gallery
	{
		padding-left: 5%;
	}

	div.short_info
	{
		width: 99%;
		min-width: 14%;
		word-wrap: break-word;
		padding: 0.5%;
		font-size: 200%;
		display:block;
		color: #909090;
		text-align: left;
	}
	div.short_info_mob_title
	{
		width: 93%;
		display:block;
		text-align: center;
		cursor:pointer;

	}
	div.short_info_mob_menu
	{
		width:100%;
		display: block;
		
	}
		.icon_label
	{
		font-size: 30px;
	
	}
}

/*Nexus 5X in landscape*/
@media only screen and (min-device-width : 411px) and (max-device-width : 731px) and (orientation : landscape) { 
	.comment > p 
	{
    	font-size: 80%;
	}
	textarea.description
	{
		font-size: 200%;
	}
	.gal_arrow
	{
		width: 10%;
	}
	.gal_arrow + .title
	{
		font-size: 150%;
	}
	span.comment_date
	{
		font-size:170%;
	}

}

/*Nexus 5X in portrait*/
@media only screen and (min-device-width : 411px) and (max-device-width : 731px) and (orientation : portrait){
	.comment > p 
	{
    	font-size: 80%;
	}
	
	.icon_label
	{
		font-size: 30px;
	
	}
	textarea.description
	{
		font-size: 200%;
	}
	.gal_arrow
	{
		width: 10%;
	}
	.gal_arrow + .title
	{
		font-size: 200%;
	}
	div.dish_gallery
	{
		padding-left: 5%;
	}

	div.short_info
	{
		width: 99%;
		min-width: 14%;
		word-wrap: break-word;
		padding: 0.5%;
		font-size: 200%;
		display:block;
		color: #909090;
		text-align: left;
	}
	div.short_info_mob_title
	{
		width: 93%;
		display:block;
		text-align: center;
		cursor:pointer;

	}
	div.short_info_mob_menu
	{
		width:100%;
		display: block;
		
	}
	span.comment_date
	{
		font-size:170%;
	}
}


/*iPhone 5 in landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { 
	.comment > p 
	{
    	font-size: 80%;
	}
	textarea.description
	{
		font-size: 200%;
	}
	span.comment_date
	{
		font-size:170%;
	}
	.gal_arrow
	{
		width: 10%;
	}
	.gal_arrow + .title
	{
		font-size: 250%;
	}

}

/*iPhone 5 in portrait*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait){
	.comment > p 
	{
    	font-size: 80%;
	}

	.icon_label
	{
		font-size: 30px;
	
	}
	textarea.description
	{
		font-size: 200%;
	}
	span.comment_date
	{
		font-size:170%;
	}
	.gal_arrow
	{
		width: 10%;
	}
		.gal_arrow + .title
	{
		width: 60%;
		font-size: 250%;
	}
	div.dish_gallery
	{
		padding-left: 5%;
	}
	div.short_info
	{
		width: 99%;
		min-width: 14%;
		word-wrap: break-word;
		padding: 0.5%;
		font-size: 200%;
		display:block;
		color: #909090;
		text-align: left;
	}
	div.short_info_mob_title
	{
		width: 93%;
		display:block;
		text-align: center;
		cursor:pointer;

	}
	div.short_info_mob_menu
	{
		width:100%;
		display: block;
		
	}
}

/*iPhone 6 in landscape*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) { 
	.comment > p 
	{
    	font-size: 80%;
	}
	textarea.description
	{
		font-size: 200%;
	}
	span.comment_date
	{
		font-size:170%;
	}
	.gal_arrow
	{
		width: 10%;
	}
	.gal_arrow + .title
	{
		font-size: 250%;
	}

}

/*iPhone 6 in portrait*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait){
	.comment > p 
	{
    	font-size: 80%;
	}

	.icon_label
	{
		font-size: 30px;
	
	}
	textarea.description
	{
		font-size: 200%;
	}
	span.comment_date
	{
		font-size:170%;
	}
	.gal_arrow
	{
		width: 10%;
	}
	.gal_arrow + .title
	{
		width: 60%;
		font-size: 250%;
	}
	div.dish_gallery
	{
		padding-left: 5%;
	}
	div.short_info
	{
		width: 99%;
		min-width: 14%;
		word-wrap: break-word;
		padding: 0.5%;
		font-size: 200%;
		display:block;
		color: #909090;
		text-align: left;
	}
	div.short_info_mob_title
	{
		width: 93%;
		display:block;
		text-align: center;
		cursor:pointer;

	}
	div.short_info_mob_menu
	{
		width:100%;
		display: block;
		
	}
}

/*iPhone 6+ in landscape*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) { 
	.comment > p 
	{
    	font-size: 80%;
	}
	textarea.description
	{
		font-size: 200%;
	}
	span.comment_date
	{
		font-size:170%;
	}
	.gal_arrow
	{
		width: 10%;
	}
	.gal_arrow + .title
	{
		font-size: 250%;
	}

}

/*iPhone 6+ in portrait*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait){
	.comment > p 
	{
    	font-size: 80%;
	}

	.icon_label
	{
		font-size: 30px;
	
	}
	textarea.description
	{
		font-size: 200%;
	}
	span.comment_date
	{
		font-size:170%;
	}

	.gal_arrow
	{
		width: 10%;
	}
	.gal_arrow + .title
	{
		font-size: 250%;
	}
	div.dish_gallery
	{
		padding-left: 5%;
	}

	div.short_info
	{
		width: 99%;
		min-width: 14%;
		word-wrap: break-word;
		padding: 0.5%;
		font-size: 200%;
		display:block;
		color: #909090;
		text-align: left;

	}
	div.short_info_mob_title
	{
		width: 93%;
		display:block;
		text-align: center;
		cursor:pointer;
		font-size: 100%;

	}
	div.short_info_mob_menu
	{
		width:100%;
		display: block;
		
	}
}
